<footer class="footer">
  <div class="row">
    <div class="footer-content">
      <div class="footer-section">
        <p>Fekteklubben Frie Duellister</p>
        <p>
          E-post:
          <a href="mailto:post@frieduellister.no">post@frieduellister.no</a>
        </p>
        <p>Orgnr. 986404007<br />Registrert i Frivillighetsregisteret.</p>
        <p>
          <a
            href="https://www.norsk-tipping.no/grasrotandelen/din-mottaker/986404007"
            >Sett oss som din grasrotmottaker!</a
          >
        </p>
      </div>
      <div class="footer-section">
        <p>Background image provided by Royal Armories.</p>
      </div>
    </div>
  </div>
</footer>
