<header class="header">
  <div class="row">
    <div class="header-content">
      <a href="/" class="logo-link">Hjem</a>

      <button class="button-open-navigation" aria-label="Åpne meny">☰</button>
      <button class="button-close-navigation hidden" aria-label="Lukk meny">✖</button>

      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/bli-medlem">Bli medlem</a>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Treninger</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/trening-oslo">Tren i Oslo</a>
              </li>
              <li class="nav-expand-item">
                <a href="/trening-bergen">Tren i Bergen</a>
              </li>
              <li class="nav-expand-item">
                <a href="/trening-tromso">Tren i Tromsø</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Instruktører</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/instroktorer-oslo">Instruktører i Oslo</a>
              </li>
              <li class="nav-expand-item">
                <a href="/instroktorer-bergen">Instruktører i Bergen</a>
              </li>
              <li class="nav-expand-item">
                <a href="/instroktorer-tromso">Instruktører i Tromsø</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/om-klubben">Om klubben</a>
          </li>
          <li class="nav-item">
            <a href="/kontakt">Kontakt</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
