<header class="header">
  <div class="row">
    <div class="header-content">
      <a href="/" class="logo-link">Hjem</a>

      <button class="button-open-navigation" aria-label="Åpne meny">☰</button>
      <button class="button-close-navigation hidden" aria-label="Lukk meny">✖</button>

      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/bli-medlem">Bli medlem</a>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Oslo</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/oslo/trening">Treninger i Oslo</a>
              </li>
              <li class="nav-expand-item">
                <a href="/oslo/instroktorer">Instruktører i Oslo</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Tromsø</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/tromso/trening">Treninger i Tromsø</a>
              </li>
              <li class="nav-expand-item">
                <a href="/tromso/instroktorer">Instruktører i Tromsø</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Bergen</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/bergen/trening">Treninger i Bergen</a>
              </li>
              <li class="nav-expand-item">
                <a href="/bergen/instroktorer">Instruktører i Bergen</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/om-klubben">Om klubben</a>
          </li>
          <li class="nav-item">
            <a href="/kontakt">Kontakt</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
