.footer {
  background-color: #303030;

  .footer-content {
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .footer-section {
      color: white;
      p {
        text-align: center;
      }

      a {
        color: white;
      }
    }

    @media screen and (max-width: $breakpoint-row-medium) {
      flex-wrap: wrap;
    }
  }
}
