.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;

  .logo-link {
    width: 250px;
    height: 84px;
    background-image: url("/assets/images/fkfd-logo-black-transparent.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: $breakpoint-l) {
    padding-left: $spacing-1;
    padding-right: $spacing-1;
  }
}
