@import "reset";
@import "vars";
@import "typography";
@import "grid";

@import "header";
@import "navigation-desktop";
@import "navigation-mobile";
@import "footer";
@import "images";

.body {
  background-image: url("/assets/images/background-i33.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.main-content {
  min-height: 600px;
}

.row {
  max-width: 1200px;
  padding-inline: 0;
  margin: 0 auto;
  clear: both;

  @media screen and (max-width: $breakpoint-row-full) {
    padding-left: $spacing-1;
    padding-right: $spacing-1;
  }

  &--indent {
    max-width: 660px;
    padding-inline: 0;

    @media screen and (max-width: $breakpoint-row-indent) {
      padding-left: $spacing-1;
      padding-right: $spacing-1;
    }
  }

  &--indent-medium {
    max-width: 1000px;
    padding-inline: 0;

    @media screen and (max-width: $breakpoint-row-medium) {
      padding-left: $spacing-1;
      padding-right: $spacing-1;
    }
  }
}

.background-white {
  background-color: white;
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
}

.center-text {
  text-align: center;
}

.spacing-1 {
  margin-bottom: $spacing-1;
}

.spacing-2 {
  margin-bottom: $spacing-2;
}

.spacing-4 {
  margin-bottom: $spacing-4;
}

.button-link {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: black;
  border: 2px solid black;
  padding: $spacing-1;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: black;
    background-color: white;
  }

  &:active {
    transform: translateY(4px);
  }
}

iframe {
  width: 100%;
  border: none;
}
