@import "reset";
@import "vars";
@import "typography";

@import "header";
@import "navigation-desktop";
@import "navigation-mobile";
@import "footer";

.body {
  background-image: url("/assets/images/background-i33.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.main-content {
  min-height: 600px;
}

.row {
  max-width: 1200px;
  padding-inline: 0;
  margin: 0 auto;
  clear: both;

  &--indent {
    max-width: 660px;
    padding-inline: 0;
  }
}

.center-text {
  text-align: center;
}
