$breakpoint-l: 1024px;

$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;

$font-size-large: 1.2rem;
$font-size-regular: 1rem;

$font-size-h1-mobile: 2.6rem;
$font-size-h2-mobile: 2.3rem;
$font-size-h3-mobile: 2rem;

$font-size-large: 1.2rem;
$font-size-regular: 1rem;

$color-text-default: black;
