*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
  padding: 0;
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

textarea,
input {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
